config.json
roles.properties
users.properties

imgs/
pics/
audio/
node/plan_cam.jpg
arduino/wire_control2/

node/.npmrc
node/package-lock.json
node/dist/
node/logs/
node_modules/
node_modules.*/
package-lock.json
.npm/

.DS_Store
build/

*.save
*.swp

.mvn
mvnw
mvnw.*

quarkus/target/
arduino/build/
docker/

doc/.idea/
sh/*.log

quarkus/src/main/resources/META-INF/resources/videos/
quarkus/src/main/resources/META-INF/resources/*.html
!quarkus/src/main/resources/META-INF/resources/index.html
!quarkus/src/main/resources/META-INF/resources/train.html
quarkus/target/classes/
quarkus/src/main/resources/META-INF/resources/plan_cam.jpg
Library/Caches/
.vscode/settings.json
archive/
sh/install.sh
